footer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color:#3B455A;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
}
.footer-container .logo h2 {
  color: red;
  font-size: 30px;
  font-family: "Potta";
}
.footer-container .logo h2 span {
  color: white;
  font-size: 30px;
}
.footer-container ul li {
  display: inline-block;
  margin: 10px;
}
.footer-container ul li a i {
  color: white;
  font-size: 30px;
  transition: all 0.35s;
}
.footer-container ul li a i:hover {
    color: rgb(222, 126, 30);
    font-size: 30px;
  }
